@import url(http://fonts.googleapis.com/css?family=Trade+Winds);

html{
  background: url("../images/lined-paper.gif") no-repeat top center;
  font-family: "Times New Roman", serif;
}

#header{
  position: relative;
  left: 75%;
}

h1 {
  margin-top: 45px;
  text-align: center;
  color: blue;
}

p{
  text-align: center;
}